/* General */

* {
    padding: 0;
    margin: 0;
}

#root {
    background-color: #2f3232;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.App {
    display: grid;
    height: 100%;
    justify-content: stretch;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, #2f3232, #805300, #2f3232);
}

.App h3 {
    color: #ffa500;
    text-align: center;
}

/* Login/Registration page*/

#login-wrapper, #registration-wrapper {
    display: grid;
    height: auto;
    margin: 0 auto;
    justify-content: stretch;
    align-content: flex-start;
    background-color: #ffffff10;
    padding: 20px;
    border-radius: 10px;
}

#login-wrapper h4, #registration-wrapper h4 {
    color: #ffffff;
    text-align: center;
}

#login-wrapper img, #registration-wrapper img {
    width: 300px;
    margin: auto;
    padding: 10px;
}

#login-form, #registration-form {
    margin: auto;
    display: grid;
    width: 100%;
    height: 100%;
}

.form-input {
    width: 90%;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: #ffa50070 1px solid;
    background-color: #2f323270;
    outline: none;
    margin: 20px auto auto;
    justify-content: stretch;
}

.form-input:focus {
    border-color: #ffa500;
    box-shadow: #ffa500 0 0 10px;
}

.form-input::placeholder {
    font-size: 14px;
    color: #ffffff70;
}

#login-btn, #registration-btn {
    padding: 5px;
    background-color: #2f323270;
    color: #ffa500;
    border-radius: 5px;
    border: #ffa500 1px solid;
    margin: 20px auto;
    cursor: pointer;
}

#login-btn:hover, #registration-btn:hover, #login-btn:focus, #registration-btn:focus {
    box-shadow: #ffa500 0 0 10px;
}

#login-wrapper p, #registration-wrapper p {
    margin: auto;
    padding: 10px;
    color: #ffa500;
}

.input-description {
    font-size: 12px;
    color: #2f3232;
}

@media (max-width: 800px) {
    #login-wrapper, #registration-wrapper {
        width: 80%;
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    #login-wrapper, #registration-wrapper {
        width: 50%;
    }
}

@media (min-width: 1201px) {
    #login-wrapper, #registration-wrapper {
        width: 30%;
    }
}

/* Dashboard */

#dashboard {
    width: 100%;
    height: 100%;
    background-color: #2f3232;
    padding-bottom: 30px;

}

#dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5% 30px;
    color: #ffffff;
}

#logout-btn {
    padding: 5px;
    background-color: #2f3232;
    color: #ffa500;
    border-radius: 5px;
    border: #ffa500 1px solid;
    cursor: pointer;
}

#logout-btn:hover {
    box-shadow: #ffa500 0 0 10px;
}

.challenge-container {
    width: 90%;
    background-color: #2f3232;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    padding-bottom: 20px;
}

.challenge-container h3 {
    width: 100%;
    text-align: left;
    color: #ffffff;
}

.add-record-form {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.add-record-form input {
    width: 150px;
    background-color: #2f323270;
    border-radius: 10px;
    padding: 5px;
    border: #ffffff80 1px solid;
    margin: 0 10px;
    color: #ffffff;
}

.add-record-form input:focus {
    outline: none;
    border-color: #ffffff;
}

.add-record-btn {
    padding: 5px;
    background-color: #2f3232;
    color: #ffa500;
    border-radius: 10px;
    border: #ffa500 1px solid;
    cursor: pointer;
    margin-left: 10px;
}

.add-record-btn:hover {
    box-shadow: #ffa500 0 0 10px;
}

.records-wrapper {
    width: 100%;
}

.record-card {
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff20;
    color: #ffffff;
    float: left;
}

.record-card-header {
    cursor: pointer;
}

.record-card-header:hover {
    background-color: #ff000050;
}

.chart-wrapper {
    color: #fff;
    background-color: #ffffff20;
    text-align: center;
    border-radius: 15px;
    font-weight: lighter;
    height: 400px;
    display: block;
    padding: 10px;
}

.chart-wrapper > h3 {
    padding-top: 10px;
}

.recharts-default-tooltip {
    background-color: #222 !important;
    text-align: left !important;
}

.no-data {
    width: 100%;
    padding: 10px;
    color: #ffa500;
}

/* Footer */

#footer {
    text-align: center;
    justify-content: center;
    color: #2f3232;
    bottom: 0;
    height: 25px;
    background: #ffa500;
    width: 100vw;
    position: fixed;
    font-size: 14px;
}
