.App {
  text-align: center;
  justify-content: center;
  background-color: #2f3232;
  color: #e6ec00;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: Impact, fantasy;
}

.App > h4 {
  margin-top: 20px;
}

.form-control {
  margin-bottom: 10px;
}

.formWrapper {
  padding: 20px 50px;
}

#image {
  background-color: #2f3232;
  width: 200px;
  height: 200px;
  margin: 20px;
}

#switchToRegister, #switchToLogin {
  margin-bottom: 20px;
}

#dashboard {
  background-color: #2f3232;
  color: #e6ec00;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
}
