.App {
    text-align: center;
    justify-content: center;
    background-color: #2f3232;
    color: #ffa500;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    font-family: Copperplate, serif;
}

.App > h4 {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 10px;
}

.formWrapper {
    padding: 20px 50px;
}

#image {
    background-color: #2f3232;
    width: 200px;
    height: 200px;
    margin: 20px;
}

#switchToRegister, #switchToLogin {
    margin-bottom: 30px;
}

#dashboard {
    font-family: Copperplate, serif;
    background-color: #2f3232;
}

#dashboard-header {
    background-color: #ffa500;
    position: fixed;
    top: 0;
    z-index: 0;
    height: 50px;
    display: inline-block;
    min-width: 100%;
}

#welcome {
    float: left;
    padding: 10px;
    justify-content: center;
    color: #2f3232;
    font-size: 20px;
}

#logout-btn {
    float: right;
    margin: 10px;
}

#challenges-container {
    position: absolute;
    top: 50px;
    color: #ffa500;
    width: 100%;
    height: calc(100vh - 50px);
    padding: 20px;
    background-color: #2f3232 !important;
}

#challenge-records-container {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.nav {
    display: block !important;
}

.nav-tabs {
    border-bottom: #ffa500 1px solid !important;
}

.nav-item {
    background-color: #2f3232 !important;
    color: #ffa500 !important;
    border: #ffa500 1px solid !important;
}

.active {
    background-color: #ffa500 !important;
    color: #2f3232 !important;
}

#add-record-wrapper {
    width: 260px;
    margin: 20px;
}

.record-card {
    font-size: 20px !important;
    font-weight: lighter;
    color: #ffa500;
    min-width: 200px !important;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    border: #ffa500 1px solid;
}

#footer {
    text-align: center;
    justify-content: center;
    color: #2f3232;
    bottom: 0;
    height: 25px;
    background: #ffa500;
    width: 100vw;
    position: fixed;
    font-family: Copperplate, serif;
}
